body {
    background: #eee;
}

div {
    position: relative;
    background: #f8f8f8;
    width: 90%;
    max-width: 500px;
    padding: 2em;
    margin: 1.5em auto;
    border: 3px solid rgba(0, 0, 0, 0.08);
}


/* === HEADING STYLE #1 === */

h1 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1:before {
    width: 28px;
    height: 5px;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
}

h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
}


